.jumbotron{
    background: url(4.jpg) center/cover;
    min-height: 665px;
    text-align: center;
}
.button {
    border: none;
    color: white;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
}

.button1 {
    background-color: transparent; 
    color: White; 
    border: 2px solid white;
}
.button1:hover {
    background-color: white;
    color: rgba(0, 0, 0, 0.5); 
}
.button2{
    background-color: white;
    color:black;
    border: 2px solid white;
}
.button2:hover{
    background-color: transparent;
    color:white;
}
.card{
        box-shadow: 0px 0px 15px grey   ;
        min-height: 320px;
        min-width: 320px;
        border-radius: 8px;
    }
.cardcontent{
        min-height: 250px;
        min-width: 250px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: transparent;
    }
.cardfooter{
        min-height: 70px;
        min-width: 320px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: white;
        padding: 0px 10px;
    }
a.arrow:hover{
    color:yellow;
}
th{
        font-family:'Dosis', sans-serif;
        font-size: 140%;
    }
td{
        font-family:  'Dosis', sans-serif;
        font-size: 120%;
        color:grey;
}
i.fa:hover{
    color:white;
}